<!DOCTYPE HTML>
<html>
	<head>
		<title>Buscar</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Tu búsqueda: "{{buscar}}"</h1>
        <li>Episodios:
            <ul>
            {% for epi in encontrado.episodios %}
                <li>
                <a href="../../{{epi.id}}">"{{epi.name}}"</a>
                </li>
            {%endfor%}
            </ul>
        </li>
        <li>Personajes:
            <ul>
            {% for personaje in encontrado.caracteres %}
                <li>
                <a href="../../caracter/{{personaje.id}}">"{{personaje.name}}"</a>
                </li>
            {%endfor%}
            </ul>
        </li>
        <li>Lugares:
            <ul>
            {% for lugar in encontrado.lugares %}
                <li>
                <a href="../../location/{{lugar.id}}">"{{lugar.name}}"</a>
                </li>
            {%endfor%}
            </ul>
        </li>
        <form method="get">
            Buscador:
            <input type="text" class="form-control" name="buscar" required/>
            <span class="input-group-list">
                <i class="icon icon-search"></i>
                <button type="submit" class="boton btn-success">Buscar</button>
            </span>
        </form>
	</body>
    </html>